# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# YOLO training runs
runs/

# Large datasets
*.zip
*.tar
*.h5

# Temporary files
*.tmp